<div class="col s12 m6 l3">
  <div id="<%= memo.id %>" class="card blue lighten-4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag 'map.jpg' %>
    </div>
    <div class="card-content grey-text text-darken-2">
      <%= link_to edit_memo_path(memo.id), class: "card-title grey-text text-darken-2", data: { no_turbolink: true } do %>
        <%= memo.name%>
      <% end %>
      <p><%= memo.explanation %></p>
    </div>
  </div>
</div>
