<ul class="collapsible nested-fields" >
  <li>
  <div class="collapsible-header active blue lighten-5">Place</div>
  <div class="collapsible-body">
    <div class="row"></div>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <div class="row">
      <div class="input-field col s11">
        <%= f.text_field :title, class: '' %>
        <%= f.label :title, 'Title' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11">
        <%= f.text_field :description, class: '' %>
        <%= f.label :description, 'Description' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11">
        <%= f.text_field :address, class: 'address', placeholder: 'Enter the address' %>
        <%= f.label :address, 'Address' %>
      </div>
    </div>
    <div class="row right-align">
      <div class="col s11">
        <%= link_to_remove_association f, class: 'btn waves-effect waves-light' do %>
          <i class="mdi-action-delete"></i>
      <% end %>
      </div>
    </div>
  </div>
  </li>
</ul>
